langchain_google_genai
streamlit
google
langchain_community
langchain_google_genai
langchain.chains
langchain.prompts
dotenv
supabase
streamlit_local_storage
requests
bs4
selenium
selenium.webdriver
webdriver_manager
time
os
PyPDF2
langchain.text_splitter
