langchain_google_genai
streamlit
google
google.generativeai
langchain_community
langchain_google_genai
langchain
dotenv
supabase
streamlit_local_storage
requests
bs4
selenium
webdriver_manager
PyPDF2
